const {describe, it} = global;
import {expect} from 'chai';
import {shallow} from 'enzyme';
import <%= componentName %> from '../<%= componentFileName %>';

describe('<%= moduleName %>.components.<%= componentFileName %>', () => {
  it('should do something');
});
