import React from 'react';

class <%= componentName %> extends React.Component {
  render() {
    return (
      <div>
        <%= componentName %>
      </div>
    );
  }
}

export default <%= componentName %>;
