import React from 'react';

const <%= componentName %> = React.createClass({
  render() {
    return (
      <div>
        <%= componentName %>
      </div>
    );
  }
});

export default <%= componentName %>;
