import {Mongo} from 'meteor/mongo';
import {SimpleSchema} from 'meteor/aldeed:simple-schema';

const <%= collectionName %> = new Mongo.Collection('<%= collectionFileName %>');
let schema = new SimpleSchema({

});
<%= collectionName %>.attachSchema(schema);

export default <%= collectionName %>;
